<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/aas-registry-service/src/generated/java/org/eclipse/basyx/aas/registry/Swagger2SpringBoot.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="ELASTICSEARCH_HOST_URL" value="microk8s-vm.mshome.net:32330"/>
        <mapEntry key="KAFKA_BOOTSTRAP_SERVERS" value="PLAINTEXT_HOST://microk8s-vm.mshome.net:32110"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.basyx.aas.registry.Swagger2SpringBoot"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="aas-registry-service"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aas-registry-service"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
